.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  gap: 20px;
  border-bottom: var(--border);
}
